@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
    --color-header: 20 20 20;
    --color-primary: 255 255 255;
    --color-secondary: 0 0 0;
}

.theme-light {
    --color-header: 200 200 200;
    --color-primary: 0 0 0;
    --color-secondary: 255 255 255;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
