@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
    --color-header: 20 20 20;
    --color-primary: 255 255 255;
    --color-secondary: 0 0 0;
}

.theme-light {
    --color-header: 200 200 200;
    --color-primary: 0 0 0;
    --color-secondary: 255 255 255;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.react-flow__selection {
    border-width: 2px;
    border-style: dashed;
    box-sizing: border-box;
}

@layer utilities {
    .nodeshell-animated-wrapper {
        @apply relative rounded-md flex items-center justify-center overflow-hidden;
    }

    .nodeshell-animated-wrapper::before {
        background: conic-gradient(rgba(233, 121, 255, 0.763) 0deg 90deg, transparent 180deg);

        @apply absolute content-[''] rounded-md
            h-[200%] w-[200%] 
            animate-spin transition-opacity duration-1000;
    }

    .nodeshell-animated-wrapper.fade-out::before {
        @apply opacity-0;
    }

    .nodeshell-wrapper-content {
        @apply relative bg-gray-800 rounded-md m-0.5;
    }
}
